body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noPadding {
  padding: 0 !important;
}

.footer-text {
  margin: 10px !important;
}

.defaut-height {
  height: 100% !important;
}

label {
  font-size: 14px !important;
}

.ui.header {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.ui.clearing.divider {
  margin-top: 5px !important;
}

.error.field.ui.input {
  margin-bottom: 2px;
}

.field.ui.input {
  margin-bottom: 2px !important;
}

.errorText {
  color: rgb(187, 0, 0);
}

/* td {
  text-align: center;
} */

thead {
  text-align: center;
}